<div class="member-page" ng-controller="AllanCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/allan/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Allan Peng</div>
    			<div class="bio">
    				Allan enjoys singing songs, shooting photos, and climbing hills. He strongly believes that InnoD should have a poetry tier.
    			</div>
    		</div>
		</div>
		<div class="pieces" ng-repeat="image in pieces track by $index">
			<img src="{{image}}">
		</div>
	</div>
</div>