<div class="member-page" ng-controller="BrandonCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/brandon/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Brandon Chau</div>
    			<div class="bio">
    				Brandon is a sophomore intended CS, a portrait and event photographer based in the Bay Area. He hopes to someday travel the world and continue to add to his visual journal. Swiggity Swiggity Swooty Comin’ for dat Booty.
    			</div>
    		</div>
		</div>
		<ul class="carousel" rn-carousel rn-carousel-auto-slide="2" rn-carousel-transition="hexagon" rn-carousel-pause-on-hover rn-carousel-easing="easeFrom" rn-carousel-duration="1000" rn-carousel-index="carouselIndex">
			<li class="images" ng-repeat="image in pieces track by $index">
				<img src="{{image}}">
			</li>
		</ul>

		<div class="indicator" rn-carousel-index="carouselIndex">
			<span ng-repeat="image in pieces track by $index" ng-class="{active: $index==carouselIndex}" ng-click="goToSlide($index)"> ♦ </span>
		</div>
	</div>
</div>