<div class="member-page" ng-controller="DavinciCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/davinci/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Davinci Lam</div>
    			<div class="bio">
    				Davinci is a second year at UC Berkeley studying Economics with an interest in marketing. He loves photography and food. What makes these two things so wonderful is how there is no end to the possibilities - for both photography and food, it's all about presentation! He has taken up photography professionally, but only cooks in his spare time. Much to the demise of many of his friends, he don't have a restaurant open... yet.
    			</div>
    		</div>
		</div>
		<!-- <div class="pieces" ng-repeat="image in pieces track by $index">
			<img src="{{image}}">
		</div> -->
	</div>
</div>