<div class="member-page" ng-controller="ElizabethCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/elizabeth/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Elizabeth Ling</div>
    			<div class="bio">
    				Elizabeth is a fourth year from Southern California. She enjoys eating and photography.
    			</div>
    		</div>
		</div>
		<!-- <div class="pieces" ng-repeat="image in pieces track by $index">
			<img src="{{image}}">
		</div> -->
	</div>
</div>