<div class="member-page" ng-controller="JanelCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/janel/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Janel Kajisa</div>
    			<div class="bio">
    				Janel is a sophomore who has been in InnoD for 3 whole semesters. She likes sweet views (not hikes), weird flavored ice cream and bad puns.
    			</div>
    		</div>
		</div>
		<div class="pieces" ng-repeat="image in pieces track by $index">
			<img src="{{image}}">
		</div>
	</div>
</div>