<div class="member-page" ng-controller="PatrickCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/patrick/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Patrick Lin</div>
    			<div class="bio">
    				Patrick is a senior computer science major who enjoys dance, photography, and gaming. He can usually be found eating off of container lids in his co-op, flexing unnecessarily, taking basiq golden hour silhouette and high-bokeh portraits, or awkwardly body rolling in public. It has been his pleasure to serve on Innovative Design’s officer board for his final semester!
    			</div>
    		</div>
		</div>
		<!-- <div class="pieces" ng-repeat="image in pieces track by $index">
			<img src="{{image}}">
		</div> -->
	</div>
</div>