<div class="member-page" ng-controller="ShotaCtrl">
	<div class="member-container">
		<div class="member">
			<div class="circular"><img src="../img/shota/profile.jpg"></div>
    		<div class="info">
    			<div class="name">Shota Pangilinan</div>
    			<div class="bio">
    				20/M/US
					<br>aim@xxtearsonmyguitarxx
					<br>ps film photography is better
    			</div>
    		</div>
		</div>
		<div class="pieces" ng-repeat="image in pieces track by $index">
			<img src="{{image}}">
		</div>
	</div>
</div>