.member-page {
    cursor: crosshair;
}

.member-container {
	width: 80%;
	margin: auto;
	overflow: hidden;

	.member {
		display: inline-block;
		margin: 50 50 100 50;
	}
	.circular img {
		width: 300px;
		height: 300px;
		border-radius: 150px;
		float: left;
	}
	.info {
		padding-left: 350px;

		.bio {
			padding-left: 2px;
			font-size: 24px;
			line-height: 36px;
			font-family: 'Open Sans Condensed', sans-serif;
		}
	}
	.name {
		font-size: 42px;
		font-family: 'Pacifico', sans-serif;
		font-weight: bold;
		margin: 50 0 50 0;
	}
	.carousel {
		width: 540px;
		height: 350px;
		text-align: center;
		margin-bottom: 10px;
		@include horizontal-align();
		.images img {
			width: auto;
			height: 100%;
		}
	}

	.indicator {
		@include horizontal-align();
		display: inline-block;
		margin-bottom: 50px;

		.span {
			color: black;
		}
		.active {
			color: $cyan;
		}
		&:hover {
			cursor: pointer;
		}
	}

}